@font-face {
    font-family: kindly;
    src: url(../font/Super\ Kindly.ttf);
}

*{
    margin: 0%;
}

body {
    background-color: rgb(102, 36, 165);
    display: flex;
    justify-content: center;
}

main{
    background-color: aliceblue;
    width: 550px;
    padding: 10px;
    background-color: #D976F5;
}

legend {
    text-align: center;
    font-size: 35px;
    font-family: kindly;
}

fieldset {
    border: 2px solid rgb(84, 29, 136);
    padding: 20px;
    margin: 20px;
}

form {
    background-color: #D976F5;
}

input[type="text"] {
    width: 310px;
}